node-red-flow-part-II.json
[
    {
        "id": "499f421db6782114",
        "type": "tab",
        "label": "Flow Lesson 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "94531fcdc0c00964",
        "type": "ui_button",
        "z": "499f421db6782114",
        "name": "Schalter ON",
        "group": "5b1a2b46eaeae5a3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "ON",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "on",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 200,
        "wires": [
            [
                "d823bde81caa69a0"
            ]
        ]
    },
    {
        "id": "d823bde81caa69a0",
        "type": "mqtt out",
        "z": "499f421db6782114",
        "name": "MQTT out",
        "topic": "topic",
        "qos": "0",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "808a9c212a082364",
        "x": 540,
        "y": 200,
        "wires": []
    },
    {
        "id": "8157814a426ba2a5",
        "type": "ui_button",
        "z": "499f421db6782114",
        "name": "Schalter OFF",
        "group": "5b1a2b46eaeae5a3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "OFF",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "off",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "d823bde81caa69a0"
            ]
        ]
    },
    {
        "id": "5b1a2b46eaeae5a3",
        "type": "ui_group",
        "name": "Schalter",
        "tab": "9e06eb6bd18eb6ac",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "808a9c212a082364",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9e06eb6bd18eb6ac",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]