node-red-flow-part-III.json
[
    {
        "id": "59044d2ff510ba1b",
        "type": "tab",
        "label": "Flow-Lesson-3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b42cfe12f4972447",
        "type": "mqtt in",
        "z": "59044d2ff510ba1b",
        "name": "Temperatur",
        "topic": "factory/line1/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2ec252f9e4cc8fed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "91ac18ea6a7454e6"
            ]
        ]
    },
    {
        "id": "91ac18ea6a7454e6",
        "type": "ui_gauge",
        "z": "59044d2ff510ba1b",
        "name": "Temperatur",
        "group": "80e861016fad2da8",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "°C",
        "format": "{{value}}",
        "min": "20",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 770,
        "y": 240,
        "wires": []
    },
    {
        "id": "4b1798a5dfea499d",
        "type": "mqtt in",
        "z": "59044d2ff510ba1b",
        "name": "Kühlung",
        "topic": "factory/line1/cooling",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "2ec252f9e4cc8fed",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "86ce53219552c923"
            ]
        ]
    },
    {
        "id": "86ce53219552c923",
        "type": "ui_text",
        "z": "59044d2ff510ba1b",
        "group": "977149b5d7381ba7",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "Kühlung",
        "label": "Kühlung",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 320,
        "wires": []
    },
    {
        "id": "2ec252f9e4cc8fed",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "80e861016fad2da8",
        "type": "ui_group",
        "name": "Linie 1",
        "tab": "9c2255c0217a231e",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "977149b5d7381ba7",
        "type": "ui_group",
        "name": "Linie 1",
        "tab": "9c2255c0217a231e",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "9c2255c0217a231e",
        "type": "ui_tab",
        "name": "Fabrik Übersicht",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]